.side-bar{
    height: 100%;
    overflow: hidden;
    width: 25%;
    float: left;
    
    border-style: double;
    justify-content: space-between;

}

.side-bar li {
    padding: 2pxw 0;
}


.side-bar a{
    text-decoration: none;

}

.side-bar li.active {
    background-color: burlywood;
}

.side-bar li:hover {
    background-color: aquamarine;
}